.center {
	margin: 0 auto;
	text-align:center;
	width:50%;
}

.area {
	background-color: LightGray;
	border-radius: 10px;
	color:white;
	line-height: 1.5em;
	margin: 2em auto;
	text-align: center;
}
#someNumber {
	width: 15em;
	height: 2em;
}